@import "tailwindcss";

/* @theme {
   --color-white: #ffffff;
   --color-black: #000000;

   --color-gray-50: #fafafa;
   --color-gray-100: #f5f5f5;
   --color-gray-200: #e5e5e5;
   --color-gray-300: #d4d4d4;
   --color-gray-400: #a3a3a3;
   --color-gray-500: #737373;
   --color-gray-600: #525252;
   --color-gray-700: #404040;
   --color-gray-800: #262626;
   --color-gray-900: #171717;
   --color-gray-950: #0a0a0a;

   --color-primary: #000000;
   --color-primary-hover: #262626;

   --color-accent: #000000;
   --color-accent-hover: #404040;

   --color-success: #171717;
   --color-warning: #525252;
   --color-danger: #000000;

   --color-border: var(--color-gray-200);
   --color-border-strong: var(--color-gray-900);

   --color-text-primary: #000000;
   --color-text-secondary: #525252;
   --color-text-muted: #a3a3a3;
   --color-text-inverted: #ffffff;

   --color-overlay: rgba(0, 0, 0, 0.4);

   --color-xp: #000000;
   --color-xp-muted: #f5f5f5;

   --color-streak: #404040;
   --color-streak-muted: #e5e5e5;

   --color-achievement: #171717;
   --color-achievement-muted: #fafafa;

   --color-reward: #262626;
   --color-reward-muted: #f5f5f5;

   --color-focus: #525252;
   --color-focus-muted: #e5e5e5;

   --gradient-xp: linear-gradient(to right, #000000, #404040);
   --gradient-streak: linear-gradient(to right, #262626, #525252);
   --gradient-achievement: linear-gradient(to right, #171717, #525252);

   --color-border-xp: #000000;
   --color-border-streak: #404040;
   --color-border-achievement: #171717;

   --color-bg-app: #f5f5f5;
   --color-bg-card: #ffffff;
   --color-bg-muted: #fafafa;
} 


html,
body,
#root {
   height: 100%;
   background-color: var(--color-bg-app);
   color: var(--color-text-secondary);
}

body {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
*/